<form [formGroup]="_service.form" class="normal-form">
    <mat-grid-list cols="2" rowHeight="800px">
        <mat-grid-tile>
          <div class="controllers-container">
            <input type="hidden" formControlName="$key"/>
            <mat-form-field>
              <input formControlName="title" matInput placeholder="Title*"/>
              <mat-error>Title is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="author" matInput placeholder="Author"/>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="description" matInput placeholder="Post*" class="ck-editor"/>
              <textarea ck-editor></textarea>
              <mat-error>Post is mandatory.</mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
                <mat-checkbox matInput formControlName="publish">Disabled</mat-checkbox>
            </mat-form-field> -->
            <mat-form-field>
              <input formControlName="dateCreated" matInput placeholder="Date Created"/>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="tags" matInput placeholder="tags"/>
             </mat-form-field>
             <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>


             <div class="button-row">
                <button mat-raised-button color="primary" [disabled]="_service.form.invalid">Submit</button>
                <button mat-raised-button color="primary" (click)="onClear()" type="button">Clear</button>
             </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="controllers-container">
            <div class="add-bottom-padding"></div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
</form>
